body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
  background: #e0e0e0;
}

.container {
  background: white;
  border-radius: 10px;
  display: flex;
  overflow: hidden;
  background: #e0e0e0;
  box-shadow:  20px 20px 60px #bebebe,
              -20px -20px 60px #ffffff;
}
.container > img {
  width: 400px;
  height: 800px;
  object-fit: cover;
}

form {
  width: 400px;
  padding: 48px;
}

header {
  margin: 0;
  text-align: center;
}

label {
  font-size: 14px;
  font-weight: bold;
}

button {
  margin-top: 24px;
  padding: 16px;
  border-radius: 8px;
  border: none;
  width: 100%;
  cursor: pointer;
  background: #3e3e3e;
  color: white;
}

input[type=text], input[type=password], input[type=email] {
  border: 1px solid #99A3A4;
  border-radius: 8px;
  width: calc(100% - 24px);
  padding: 12px 10px;
  margin-top: 8px;
  outline: none;
  background: #e0e0e0;
}
input[type=checkbox] {
  margin: 0 8px 0 0;
}

a {
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  color: rgb(92, 92, 224);
}

.side {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  filter: grayscale(70%);
}

.input {
  margin-top: 24px;
}

.spacer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 24px;
}
.spacer > a {
  text-decoration: none;
  color: grey;
}

.placeholder {
  width: 50px;
  height: 50px;
  color: grey;
}

.signup {
  margin-top: 24px;
  text-align: center;
}