<mat-sidenav-container class="mat-container">
    
    <mat-sidenav #sidenav mode="side" opened="true" [(opened)]="opened" (opened)="events.push('open!')" (closed)="events.push('close!')">

        <div class="sidenav-container">
            <ul>
                <li routerLink="/mainmenu" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="pointer-cursor transition ease-in-out hover:bg-green-500 hover:text-white my-4">Main</li>
                <li routerLink = "/mainmenu/leave-application" routerLinkActive="active" class="pointer-cursor transition ease-in-out hover:bg-green-500 hover:text-white my-4">Leaves</li>
                <li routerLink = "" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="pointer-cursor transition ease-in-out hover:bg-green-500 hover:text-white my-4">Claims</li>
                <li *ngIf="isAdmin" routerLink="/mainmenu/employeelist" routerLinkActive="active" class="pointer-cursor transition ease-in-out hover:bg-green-500 hover:text-white my-4 target:bg-green-500 target:text-white">Employee List</li>
                <li *ngIf="isAdmin" routerLink="/mainmenu/signup" routerLinkActive="active" class="pointer-cursor transition ease-in-out hover:bg-green-500 hover:text-white my-4">Register Employee</li>    
            </ul>
            <li routerLink="/mainmenu/profile" class="pointer-cursor"><mat-icon>account_circle</mat-icon></li>
        </div>
    </mat-sidenav>

    <mat-sidenav-content>
        <header>
            <a (click)="sidenav.toggle()" style="cursor: pointer;"><mat-icon>dehaze</mat-icon></a>
            <img src="assets/eleaf-logo.png" alt="logo">
            <button class="button" (click)="logout()">Log out</button>
        </header>
        <div class="background-image"><router-outlet></router-outlet></div>
    </mat-sidenav-content>
</mat-sidenav-container>
