
<head>
    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
</head>
<body>
    <form [formGroup]="signupForm" (submit)="signup()" >
        <h1>Register User</h1>
    
        <div class="form-control">
            <label for="name">Name</label>
            <input formControlName="name" id="name" type="text" required />
        </div>

        <div class="form-control">
            <label for="email">Email</label>
            <input formControlName="email" id="email" type="email" required />
            <div *ngIf="signupForm.controls.email.touched || signupForm.controls.email.dirty"> 
                <p *ngIf="isExist">Email is already in use</p>
                <p *ngIf="signupForm.controls.email.hasError('required')">Please fill in this field</p>
                <p *ngIf="signupForm.controls.email.hasError('email')">Please enter a valid email</p>
            </div>
        </div>

        <div class="form-control">
            <label for="phoneNo">Phone Number</label>
            <input formControlName="phoneNo" id="phoneNo" type="text" pattern="[0-9]{10}" required />
            <div *ngIf="signupForm.controls.phoneNo.touched || signupForm.controls.phoneNo.dirty"> 
                <p *ngIf="signupForm.controls.phoneNo.hasError('required')">Please fill in this field</p>
            </div>
        </div>

        <div class="form-control">
            <label for="password">Password</label>
            <input formControlName="password" id="password" type="password" required />
        </div>

        <div class="form-control">
            <mat-radio-group formControlName="role" id="role" type="text" aria-label="Role" required >
                <mat-radio-button value="user">User</mat-radio-button>
                <mat-radio-button value="admin">Admin</mat-radio-button>
            </mat-radio-group>
        </div>

        <button type="submit" [disabled]="!signupForm.valid">Register</button>
    </form>
</body>

