@import url('https://fonts.googleapis.com/css?family=Roboto:700|Roboto:400');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Roboto';
  font-weight: 400;
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, h5 {
  font-family: 'Roboto';
  font-weight: 700;
}

html {font-size: 100%;} /* 16px */

h1 {font-size: 3.053rem; /* 48.8px */}

h2 {font-size: 2.442rem; /* 39.04px */}

h3 {font-size: 1.954rem; /* 31.2px */}

h4 {font-size: 1.563rem; /* 24.96px */}

h5 {font-size: 1.250rem; /* 20px */}

small {font-size: 0.800rem; /* 12.8px */}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.flex{
  display: flex;
}

.button{
  border: solid 0.5px lightgrey;
  background-color: transparent;
  padding: 4px 8px;
  cursor: pointer;
}

.button:hover{
  border: solid 0.5px lightgrey;
  background-color: lightgrey;
  transition: 0.4s;
  padding: 4px 8px;
  cursor: pointer;
}

a{
  text-decoration: none;
  color: black;
}

a:visited{
  text-decoration: none;
  color: black;
}

.sidenav-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.sidenav-container ul {
  list-style-type: none;
  padding: 0 2rem 0 2rem;
  margin: 0;
  flex-grow: 1;
}

.sidenav-container li {
  padding: 2rem 16px;
  text-align: center;
}

.sidenav-container li:last-child {
  margin-top: auto;
  list-style: none;
  text-align: center;
}

.mat-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #eee;
}

header{
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 48px;
  overflow: hidden;
  justify-content: space-between;
  padding: 10px;
  border-bottom: solid 0.5px lightgrey;
  position: sticky
}

header img {
  height: 100%;
  /* align-items: center; */
}

.logo{
  margin: 2rem;
  width: 70px;
  height: 70px;
  object-fit: cover;
}

.pointer-cursor{
  cursor: pointer;
}